<div>
    {% extends "App1/Usuarios.html" %}
    {% load static %}
    
    {% block getUsuarios %}
        <p>Consultar Usuarios</p>
        <form action="/App1/buscarUsuarios/" method="GET">
            <input placeholder="Nombre" type="text" name="nombre" id="nombre">
            <input type="submit" value="Buscar">
        </form>

        {% if Usuarios %}
            {% for Usuario in Usuarios %}
                <li> {{Usuario.nombre}} </li>
                <li> {{Usuario.apellido}} </li>
                <li> {{Usuario.email}} </li>
            {% endfor %}
        {% endif %}
    {% endblock %}    
</div>